body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

#video {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #999;
  z-index: 4;
}

#layout {
  display: flex;
  height: 100vh;
}

#leftPanel {
  width: 300px;
  background-color: #383d3b;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 1px solid #385551;
  z-index: 4;
}

#toolbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#toolbar button {
  padding: 10px;
  font-size: 1.1rem;
  background-color: #486862;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  z-index: 4;
}

#toolbar button:hover {
  background-color: #2267c1;
}


#drawCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

#gazeCursor {
  position: absolute;
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 50%;
  pointer-events: none;
  z-index: 5;
  opacity: 0.6;
}

#resultImage {
  /*position: absolute;         /* Lets you place it freely on the page */
  /*top: 10px;                  /* Pushes it 10px from the top of the screen */
  /*right: 10px;                /* Pushes it 10px from the right edge */
  max-width: 30%;            /* Keeps it responsive (never wider than 30% of screen) */
  border: 2px solid #000;     /* Gives it a black border for visibility */
  z-index: 999;               /* Makes sure it's above the canvas, video, etc. */
}